version: 2
updates:
  - package-ecosystem: "github-actions"
    directories:
      - "/"
    groups:
      # Open an aggregate PR for all GitHub Actions updates
      github-actions:
        patterns:
          - "*"
    schedule:
      interval: "weekly"
