.DS_Store
*.orig
/*.log

# Libraries
/node_modules
/bower_components

# Coverage
/coverage

# Files built with webpack for distribution
/dist/*
!/dist/index.html
!/dist/favicon.ico
!/dist/apple-touch-icon.png
!/dist/tile.png
!/dist/tile-wide.png
!/dist/browserconfig.xml
!/dist/crossdomain.xml
!/dist/robots.txt
!/dist/humans.txt
!/dist/service-worker.js
!/dist/offline.appcache
