/*
 * HERO
 */

.hero {
  overflow: hidden;
  padding-top: 3rem;
  position: relative;
  width: 100vw;
}
.hero:before {
  bottom: 0%;
  color: #fafafa;
  content: 'smocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmockle';
  font-family: 'effra';
  font-size: 6rem;
  line-height: 0.7;
  max-width: 110vw;
  overflow: hidden;
  position: absolute;
  top: 0%;
  transform: rotate(-5deg);
  word-wrap: break-word;
}
.wrapper {
  composes: wrapper from './app.css';
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  text-align: center;
  z-index: 1;
}
@media (min-width: 50em) {
  .wrapper {
    justify-content: space-between;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.profile {
  display: inline-block;
  vertical-align: middle;
}
@media (min-width: 50em) {
  .profile {
    width: 55%;
  }
}
.wrapper header {
  display: inline-block;
  margin-bottom: 3rem;
  position: relative;
}
.wrapper .big {
  font-size: 5rem;
  margin-bottom: 0;
}
.wrapper h1 {
  margin-bottom: 0;
}
.wrapper em {
  display: block;
  text-align: center;
}

/*
 * BUILDER
 */

.build, .connect {
  composes: alternate from './app.css';
}

/*
 * BANNER
 */

.banner {
  background-color: #e4f6f2;
  margin-top: 0;
}
.bannerWrapper {
  composes: wrapper from './app.css';
  display: flex;
  justify-content: space-between;
  padding: 3rem 3.25rem;
}
.banner p {
  display: inline-block;
  margin-top: 0;
}
.banner em {
  display: inline-block;
}
.bannerLink:after {
  content: '→';
  color: #84dcc6;
  display: inline-block;
  text-decoration: none;
  vertical-align: middle;
}
.bannerLink:hover:after {
  color: #abe7d8;
}

/*
 * THOUGHT HAVER
 */

.connectIcons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
@media (min-width: 30em) {
  .connectIcons {
    justify-content: space-around;
  }
}
.connectIcon {
  height: auto;
  margin: 1rem;
  width: 5rem;
}
@media (min-width: 30em) {
  .connectIcon {
    margin: 0;
    width: 5rem;
  }
}
.twitterIcon, .gitHubIcon, .dribbbleIcon, .emailIcon, .stackOverflowIcon, .linkedInIcon, .instagramIcon {
  composes: connectIcon;
}
