/*html { font-size: 6px !important; }*/
.big { font-size: 5rem !important; margin-bottom: 1rem; }
h2 { margin-bottom: 0; }
h3 {
  color: #ccc;
  margin-bottom: 0;
  margin-top: 1.5rem;
}
ul, ol {
  padding-left: 3.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0;
}
date {
  color: #ccc;
  font-style: italic;
}
.flex {
  align-items: stretch;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.col6 {
  width: 50%;
}
.wrapper {
  composes: wrapper from './app.css';
  max-width: 50rem;
  padding: 1.75rem 2rem 0 2rem;
}
.container {
  composes: flex;
  composes: wrapper from './app.css';
  max-width: 108rem;
  padding: 0;
}

/* HERO */
.hero {
  composes: alternate from './app.css';
  padding-bottom: 2rem;
  /*background-color: #e4f6f2;*/
}
.hero a { color: #444; }
.hero .wrapper { max-width: 72rem; }
.header { text-align: center; }

/* WORK */
.block + .block { margin-top: 3rem; }
.flex h2 { width: calc(100% - 15rem); }
.flex date { width: 15rem; }

/* EDUCATION */

/* SKILLS */
.ol li + li { margin-top: 1.5rem; }

/* PROFILES */
.profiles > div { padding-top: 2rem; }
.profiles a { color: #444; }
.profiles img {
  height: 5rem;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  width: 5rem;
}
