/* @media (prefers-color-scheme: no-preference), (prefers-color-scheme: light) { */
  :root {
    --filter-profile: none;
    --filter-icon: none;
    --color-section: var(--color-background);
    --color-section-alternate: var(--color-background-alternate);
  }
/* } */
@media (prefers-color-scheme: dark) {
  :root {
    --filter-profile: brightness(0.9);
    --filter-icon: brightness(10);
    --color-section: var(--color-background-alternate);
    --color-section-alternate: var(--color-background);
  }
}

html { background-color: var(--color-section); }
.alternate {
  background-color: var(--color-section-alternate);
  overflow: auto;
}

.hero:before {
  bottom: -20%;
  color: var(--color-section-alternate);
  content: "smocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmockle";
  font-family: var(--font-title);
  font-size: 3.7rem;
  left: -5vw;
  line-height: 0.7;
  max-width: 110vw;
  overflow: hidden;
  position: absolute;
  top: -20%;
  transform: rotate(-5deg);
  word-wrap: break-word;
  z-index: -1;
}
.hero {
  overflow: hidden;
  position: relative;
}
.hero :only-child {
  display: flex;
  text-align: center;
}
.hero aside {
  margin: 0 auto;
}
.hero aside .h0 {
  font-size: 3.7rem;
}
.hero aside em {
  display: block;
  margin-top: -0.75rem;
  margin-bottom: -0.75rem;
}
.hero picture {
  filter: var(--filter-profile);
  margin-bottom: -2rem;
}
.hero picture img {
  display: block;
  height: 100%;
  width: 100%;
}

.network-icons {
  justify-content: flex-start;
  display: flex;
  position: relative;
  left: -5px;
}
.network-icon {
  width: 3.7rem;
  height: auto;
  filter: var(--filter-icon);
}
@media (max-width: 50em) {
  .network-icons a { flex-basis: 25%; }
  .network-icon { width: 2.9rem; }
}
@media (min-width: 50em) {
  .network-icons a { flex-basis: 20%; }
  .network-icon { width: 3.7rem; }
}

.site-meta {
  color: var(--color-text-alternate);
  font-size: 0.8rem;
  font-style: italic;
  line-height: 1.44;

}