fieldset {
  border: 2px solid #eee;
  border-radius: 0;
}

label,
label b {
  display: block;
}

button,
input,
textarea {
  background-color: #fafafa;
  border: none;
  border-bottom: 3px solid #ccc;
  box-sizing: border-box;
  font-family: "Effra", sans-serif;
  font-size: 1.5rem;
  line-height: normal;
  outline: none;
  padding: 0.5rem;
}

input:focus,
textarea:focus {
  background-color: #e4f6f2;
  border-bottom-color: #26856d;
}

input:focus::selection,
textarea:focus::selection {
  background-color: #5db6aa;
}

textarea {
  padding: 1rem;
  resize: none;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background: #26856d;
  border-bottom: 3px solid #5db6aa;
  border-radius: 0;
  color: white;
  cursor: pointer;
  font-weight: 500;
  padding: 0.75rem 2rem;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background: #5db6aa;
}

button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  border-bottom-color: #26856d;
  position: relative;
  top: 2px;
}

button:hover:active,
input[type="button"]:hover:active,
input[type="reset"]:hover:active,
input[type="submit"]:hover:active {
  border-bottom-color: #5db6aa;
}
