/* Variables */
:root {
  --font-title: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  --font-body: "Crimson Pro S", "Georgia", serif;
  --font-code: "SF Mono", Menlo, monospace;
}
/* @media (prefers-color-scheme: no-preference), (prefers-color-scheme: light) { */
:root {
  --color-background: white;
  --color-background-alternate: #F8F8F8;
  --color-text-alternate: #222222AA;
  --color-accent: #2C7D69FC;
  --color-accent-alternate: #5CBBA3;
  --filter-logo: none;
}
/* } */
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #1F2023;
    --color-background-alternate: #081010;
    --color-text-alternate: #DDDDDD90;
    --color-accent: #5CBBA3FC;
    --color-accent-alternate: #84DCC6;
    --filter-logo: saturate(1000%) hue-rotate(-15deg) brightness(0.55);
  }
}

/* Fonts */
@font-face {
  font-family: "Lato";
  src: local("Lato Black"), local("Lato-Black"),
    url("fonts/lato-black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Crimson Pro S";
  src: local("CrimsonProS Regular"), local("CrimsonProS-Regular"),
    url("fonts/crimsonpros-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Crimson Pro S";
  src: local("CrimsonProS Italic"), local("CrimsonProS-Italic"),
    url("fonts/crimsonpros-italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Crimson Pro S";
  src: local("CrimsonProS Bold"), local("CrimsonProS-Bold"),
    url("fonts/crimsonpros-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Base */
html, body, div, span, object, iframe, h1, h2, h3, h4, p, blockquote, pre, a, address, cite, code, em, img, kbd, small, strike, strong, sub, sup, b, u, i, center, ol, ul, li, form, label, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, figure, footer, header, menu, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
pre, code, kbd { font-family: var(--font-code); }
pre { white-space: pre-wrap; }
html:not(.wf-crimsonpros-n4-active) :not(li) > p,
html:not(.wf-crimsonpros-n4-active) i,
html:not(.wf-crimsonpros-n4-active) :not(li) > ul,
html:not(.wf-crimsonpros-n4-active) :not(li) > ol,
html:not(.wf-crimsonpros-n4-active) blockquote,
html:not(.wf-crimsonpros-n4-active) table,
html:not(.wf-crimsonpros-n4-active) figure {
  font-size: 17px;
  line-height: 1.75;
  letter-spacing: 0.4px;
}
@media (min-width: 50em) {
  html:not(.wf-crimsonpros-n4-active) :not(li) > p,
  html:not(.wf-crimsonpros-n4-active) i,
  html:not(.wf-crimsonpros-n4-active) :not(li) > ul,
  html:not(.wf-crimsonpros-n4-active) :not(li) > ol,
  html:not(.wf-crimsonpros-n4-active) blockquote,
  html:not(.wf-crimsonpros-n4-active) table,
  html:not(.wf-crimsonpros-n4-active) figure {
    font-size: 19px;
  }
}
html {
  font-family: var(--font-body);
  font-size: 20px;
  line-height: 1.5;
}
@media (min-width: 50em) {
  html {
    font-size: 22px;
  }
}
@media (max-width: 50em) {
  main > :not(:only-child) > *,
  main > :only-child > * > *,
  #___gatsby > div[role="group"] > :not(main) > * {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media (min-width: 50em) {
  main > :not(:only-child) > *,
  main > :only-child > * > *,
  #___gatsby > div[role="group"] > :not(main) > * {
    max-width: 675px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* Spacing */
h1, h2, h3, h4, :not(li) > p, i, :not(li) > ul, :not(li) > ol, blockquote, pre, table, figure, audio, video {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
li {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
main > :not(:only-child) > :first-child,
main > :only-child > * > :first-child,
#___gatsby > div[role="group"] > :not(main):not(:last-child) > :first-child {
  margin-top: 2rem;
}
main > :not(:only-child) > :last-child,
#___gatsby > div[role="group"] > :not(main) > :last-child {
  margin-bottom: 2rem;
}

/* Font Size */
html:not(.wf-lato-n4-active) h1,
html:not(.wf-lato-n4-active) h2,
html:not(.wf-lato-n4-active) h3,
html:not(.wf-lato-n4-active) h4 {
  font-weight: 700;
  letter-spacing: -1px;
  word-spacing: -0.5px;
}
h1, h2, h3, h4 {
  font-family: var(--font-title);
  line-height: 1.05;
}
h1 { font-size: 1.9em; }
h2 { font-size: 1.25em; }
pre, code, kbd { font-size: 0.75rem; }

/* Color & Style */
html { background-color: var(--color-background); }
@supports (color: text) {
  html { color: text; }
}
@supports not (color: text) {
  @media (prefers-color-scheme: light) {
    html { color: black; }
  }
  @media (prefers-color-scheme: dark) {
    html { color: white; }
  }
}
a, a:hover {
  color: unset;
}
a:not(:hover) { text-decoration: none; }
:not(h1):not(h2):not(h3):not(h4) > a:not(:hover) { color: var(--color-accent); }
:not(h1):not(h2):not(h3):not(h4) > a:hover { color: var(--color-accent-alternate); }
em {
  font-style: italic;
}
hr {
  border: 0;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
hr::before {
  content: "â‚";
  color: var(--color-text-alternate);
  display: flex;
  justify-content: center;
}
img.logo {
  display: block;
  filter: var(--filter-logo);
}
html[data-blog] img:not(.logo) {
  display: block;
  object-fit: cover;
  width: 100%;
}
.gatsby-resp-image-wrapper,
html[data-blog] :not(.gatsby-resp-image-wrapper) > :not(picture) > img:not(.logo) {
  border: 0.25rem solid var(--color-background-alternate);
  box-sizing: border-box;
  margin-top: 1rem;
}
@media (max-width: 50em) {
  .gatsby-resp-image-wrapper
  html[data-blog] :not(.gatsby-resp-image-wrapper) > :not(picture) > img:not(.logo) {
    max-height: 200px;
  }
}
@media (min-width: 50em) {
  .gatsby-resp-image-wrapper
  html[data-blog] :not(.gatsby-resp-image-wrapper) > :not(picture) > img:not(.logo) {
    max-height: 400px;
  }
}
blockquote {
  border-left: 0.25rem solid var(--color-background-alternate);
  font-style: italic;
  padding-left: 1rem;
}
sub { font-variant-position: sub; }
sup { font-variant-position: super; }
li { font-variant-numeric: tabular-nums; }
.footnotes li p { display: inline; }
pre, code, kbd { background-color: var(--color-background-alternate); }
.gatsby-remark-vscode-wrapper { background-color: var(--color-background-alternate) !important; }
pre {
  padding: 0.5rem;
}
code, kbd { padding: 0.15rem; }
pre code { padding: 0; }
code { overflow-wrap: break-word; }

@media (max-width: 50em) { ul, ol { padding-left: 1.5em; } }
@media (min-width: 50em) { ul, ol { padding-left: 2em; } }
