/* @import "_variables.css"; */
@import "_fonts.css";
@import "_typography.css";
@import "_forms.css";

html {
  font-size: 16px;
}

body {
  color: #444;
  font-family: "Freight Text Pro", serif;
  font-kerning: normal;
  font-variant-numeric: oldstyle-nums diagonal-fractions;
  font-weight: 400;
  margin: 0;
  font-size: 1.5rem;
  line-height: 170%;
}

::selection {
  background-color: #e4f6f2;
}
