@import "normalize.css";

/* @media (prefers-color-scheme: no-preference), (prefers-color-scheme: light) { */
  :root {
    --color-section: var(--color-background);
    --color-section-alternate: #f8f8f8;
  }
/* } */
@media (prefers-color-scheme: dark) {
  :root {
    --color-section: #081010;
    --color-section-alternate: var(--color-background);
  }
}

section {
  overflow: auto;
}
section .wrapper {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
section:not(.alternate) { background-color: var(--color-section); }
.alternate { background-color: var(--color-section-alternate); }

.hero {
  margin-top: -2rem;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100vw;
}
.hero:before {
  bottom: -20%;
  color: var(--color-section-alternate);
  content: "smocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmockle";
  font-family: var(--font-title);
  font-size: 3.7rem;
  left: -10vw;
  line-height: 0.7;
  max-width: 110vw;
  overflow: hidden;
  position: absolute;
  top: -20%;
  transform: rotate(-5deg);
  word-wrap: break-word;
}
.hero .wrapper {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.hero header .big { font-size: 3.7rem; }
.hero header em {
  display: block;
  margin-top: -0.75rem;
  margin-bottom: -0.75rem;
}
@media (max-width: 50em) {
  .hero header { margin: 0 auto; }
}
@media (min-width: 50em) {
  .hero .profile {
    margin-bottom: -3rem;
    width: auto;
  }
  .hero .profile img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.network-icons {
  display: flex;
  justify-content: flex-start;
  margin-left: -5px;
  margin-bottom: -5px;
}
.network-icons a {
  flex-basis: 20%;
}
.network-icon {
  width: 3.7rem;
  height: auto;
}

.site-meta {
  color: var(--color-text-alternate);
  font-size: 0.8rem;
  font-style: italic;
  line-height: 1.44;
}