@import "normalize.css";

body,
body[data-theme="light"] {
  --filter-profile: none;
  --filter-icon: none;
}

body[data-theme="dark"] {
  --filter-profile: brightness(0.9);
  --filter-icon: brightness(3.25);
}

.alternate { background-color: var(--color-background-alternate); }
section:not(.alternate) { background-color: var(--color-background); }

.hero {
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100vw;
}
.hero:before {
  bottom: -20%;
  color: var(--color-background-alternate);
  content: "smocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmockle";
  font-family: var(--font-title);
  font-size: 5.85rem;
  left: -10vw;
  line-height: 0.7;
  max-width: 110vw;
  overflow: hidden;
  position: absolute;
  top: -20%;
  transform: rotate(-5deg);
  word-wrap: break-word;
}
.hero .wrapper {
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.hero h1 { margin: 0; }
.hero .big { font-size: 5rem; }
.hero em {
  display: block;
  font-size: var(--font-size);
  margin-top: calc(var(--margin) * 0.4);
  margin-bottom: calc(var(--margin) * 0.4);
}
@media (max-width: 50em) { .hero header { margin: 0 auto; } }
@media (min-width: 50em) {
  .hero .profile {
    margin-bottom: -3rem;
    width: 55%;
  }
  .hero .profile .profile { width: auto; }
}
.hero .profile { filter: var(--filter-profile); }

@media (min-width: 50em) { .mobile-only { display: none; } }
@media (max-width: 50em) { .desktop-only { display: none; } }

.network-icons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
@media (min-width: 30em) { .network-icons { justify-content: space-around; } }

.network-icon {
  height: auto;
  width: 5rem;
  filter: var(--filter-icon);
}
@media (max-width: 30em) { .network-icon { margin: 1rem; } }

.footer .wrapper {
  padding-top: 0;
}
.footer .site-meta {
  color: var(--color-text-alternate);
  font-size: var(--font-size-hint);
  font-style: italic;
  text-align: center;
}
