@import "normalize.css";
:root {
  --color-background: #f8f8f8;
}

.alternate { background-color: var(--color-background); }

.hero {
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100vw;
}
.hero:before {
  bottom: 0%;
  color: #fafafa;
  content: "smocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmocklesmockle";
  font-family: var(--font-title);
  font-size: 6rem;
  left: -10vw;
  line-height: 0.7;
  max-width: 110vw;
  overflow: hidden;
  position: absolute;
  top: 0%;
  transform: rotate(-5deg);
  word-wrap: break-word;
}
.hero .wrapper {
  display: flex;
  justify-content: space-between;
  z-index: 1;
}
.hero h1 { margin: 0; }
.hero .big { font-size: 5rem; }
.hero em {
  font-size: var(--font-size);
  margin-top: calc(var(--margin) * 0.9);
  margin-bottom: var(--margin);
}
@media (max-width: 50em) { .hero header { margin: 0 auto; } }
@media (min-width: 50em) {
  .hero .profile {
    margin-bottom: -3rem;
    width: 55%;
  }
  .hero .profile .profile { width: auto; }
}

@media (min-width: 50em) { .mobile-only { display: none; } }
@media (max-width: 50em) { .desktop-only { display: none; } }

.network-icons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
@media (min-width: 30em) { .network-icons { justify-content: space-around; } }

.network-icon {
  height: auto;
  width: 5rem;
}
@media (max-width: 30em) { .network-icon { margin: 1rem; } }
