:root {
  --border-width: 3px;
  --border-radius: 0;
  --color-background: #f8f8f8;
  --color-white: #eee;
  --color-gray: #aaa;
  --color-text: #333;
  --color-accent: #26856d;
  --color-accent-hover: #5db6aa;
  --color-selection: #e4f6f2;
  --color-highlight: #fcf0c5;
  --font-system: -apple-system, BlinkMacSystemFont, sans-serif;
  --font-title: "Lato", sans-serif;
  --font-body: "Yrsa", serif;
  --font-code: "SF Mono", Menlo, monospace;
  --margin: 1.16em;
  --margin-list: calc(var(--margin) * 1.75);
  --font-size: 1.6rem;
  --font-line-height: 1.42;
  --font-line-height-title: calc(var(--font-line-height) * 0.7);
}

@font-face {
  font-family: "Lato";
  src: local("Lato"),
    url("fonts/lato-black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Yrsa";
  src: local("Yrsa"),
    url("fonts/yrsa-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Yrsa";
  src:  local("Yrsa"),
    url("fonts/yrsa-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

html { font-size: 12px; }
@media (min-width: 75em) { html { font-size: 14px; } }

body {
  color: var(--color-text);
  font-family: var(--font-body);
  font-kerning: normal;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection { background-color: var(--color-selection); }

h1, h2, h3, h4 {
  font-family: var(--font-title);
  font-variant-numeric: oldstyle-nums;
  font-weight: 900;
  line-height: var(--font-line-height-title);
}
h1 {
  font-size: calc(var(--font-size) * 1.8);
  text-align: center;
}
h2 { font-size: calc(var(--font-size) * 1.66); }
h3 { font-size: calc(var(--font-size) * 1.33); }
h4 { font-size: calc(var(--font-size) * 1.16); }

h1:first-of-type, h2:first-of-type, h3:first-of-type, h4:first-of-type { margin-top: 0; }
h1:not(:first-of-type) { margin-top: 3rem; }
h2:not(:first-of-type), h3:not(:first-of-type), h4:not(:first-of-type) { margin-top: calc(var(--margin) * 0.75); }
h1 { margin-bottom: 3rem; }
h2, h3, h4 { margin-bottom: calc(var(--margin) * 0.75); }

a, a:visited { color: var(--color-accent); }
a:hover { color: var(--color-accent-hover); }

p {
  font-size: var(--font-size);
  font-variant-numeric: oldstyle-nums;
  line-height: var(--font-line-height);
  margin-top: var(--margin);
}
time { font-variant-numeric: normal; }
p:not(:last-of-type) { margin-bottom: var(--margin); }

ul, ol {
  margin-left: 0;
  padding-left: var(--margin-list);
}
li {
  font-size: var(--font-size);
  line-height: calc(var(--font-line-height) * 0.9);
  margin-top: calc(var(--margin) * 0.5);
}
li:not(:last-of-type) { margin-bottom: calc(var(--margin) * 0.5); }

img {
  display: block;
  max-height: 100%;
  max-width: 100%;
}

blockquote {
  border-left: var(--border-width) solid var(--color-text);
  font-style: italic;
  padding-left: calc(var(--margin-list) / 2);
  margin: 0;
}

figure {
  margin-top: var(--margin);
  margin-left: 0;
  margin-right: 0;
}
figure:not(:last-of-type) { margin-bottom: var(--margin); }

pre, code, kbd {
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  font-family: var(--font-code);
  font-size: calc(var(--font-size) * 0.75);
  line-height: var(--font-line-height);
  margin: 0;
}
pre { padding: calc(var(--margin) / 2) var(--margin); }
code, kbd { padding: 0 calc(var(--margin) / 4); }
pre code { padding: 0; }

table, thead, tbody, tr, th, td {
  font-size: calc(var(--font-size) * 0.75);
  text-align: left;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: var(--margin-list);
}
table:not(:last-of-type) { margin-bottom: var(--margin-list); }
table th, table tr:nth-child(even) { background-color: var(--color-background); }
table th, table td {
  border: 1px solid var(--color-gray);
  margin: 0;
  padding: calc(var(--margin) / 2);
}

mark { background-color: var(--color-highlight); }

hr {
  border: var(--border-radius);
  border-bottom: var(--border-width) solid var(--color-white);
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  padding: 3rem 15px;
  position: relative;
  width: calc(100% - (15px * 2));
}
@media (min-width: 30em) { .wrapper { width: calc(40em - (15px * 2)); } }
@media (min-width: 45em) {
  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
    width: calc(50em - (30px * 2));
  }
}
